<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AHSS.ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AHSS.Properties.Settings.AHSS_databaseConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=AHSS_database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AHSS.ayarlar>
            <setting name="islemNumarasi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="islemGunu" serializeAs="String">
                <value>05/13/2019 16:15:00</value>
            </setting>
        </AHSS.ayarlar>
    </userSettings>
</configuration>